dist
node_modules

# eslint ignores root level "dot" files by default
!/.*.js
!/.*.mjs

# eslint doesnt support `assert {type: "json"}`
# https://github.com/eslint/eslint/discussions/15305
scripts/copy-meta-to-dist.mjs
