# dotenv environment variables file
.env
# figma-export-icons
icons-config.json

.turbo

# folders
node_modules/
coverage/
dist/
build/
tmp/
temp/

# IDEs
/.idea
/.vscode
/.awcache

# misc
.DS_Store
Thumbs.db
npm-debug.log
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*


/.angular

.ai

#figma-export-icons
icons-config.json

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
