name: Setup Yarn
description: Common setup steps used by our workflows
runs:
  using: composite
  steps:
    - name: Setup Node
      uses: actions/setup-node@v6
      with:
        node-version-file: .nvmrc
        cache: 'yarn'
        cache-dependency-path: yarn.lock
        registry-url: https://registry.npmjs.org/

    - name: Install
      shell: bash
      run: yarn install --immutable
